@media (max-width: 1385px) {
	.carousel {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.carousel-inner {
		width: 87%;
	}
}

@media (max-width: 1380px) {
	.contact p {
		font-size: 15px;
	}
}

@media (max-width: 1334px) {
	.slider-container .list {
		gap: 0;
	}

	.slider-container .list .item {
		width: 25%;
	}
}

@media (max-width: 1310px) {
	.slider-container .list {
		padding: 0;
	}
}

@media (max-width: 1310px) {
	.slider-container .list {
		width: 100%;
	}
}

@media (max-height: 750px) {
	.home-section {
		height: 120vh;
	}

	.carousel {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.carousel-inner {
		width: 83%;
	}
}

@media (max-height: 720px) {
	.carousel-inner {
		width: 78%;
	}
}

@media (max-height: 675px) {
	.carousel-inner {
		width: 68%;
	}
}

@media (max-height: 666px) {
	.personal-section {
		height: 100vh;
	}
}

@media (max-height: 640px) {
	.home-section {
		height: 140vh;
	}
}
